# Entorno Virtual
venv/
.venv/
env/
*.env

# Archivos de Cache de Python
__pycache__/
*.pyc

# Archivos de configuración de editores
.vscode/
.idea/
app/db.py
requirements.txt
.gitignore
bbx.db
requirements.txt
run.bat
app/db.py
.gitignore
requirements.txt
app/db.py
